{% extends 'subpage.html' %}
{% block bodypart %}
    <div class="header">
        <img src="/static/html/img/leaguepage.jpg" alt="">
        <div class="clear"></div>
    </div>
    <div class="title">
        <div class="gametitle">
            <span><h1>League of Legends</h1></span>
        </div>
        <div class="choose">
            <span>sort by</span>
            <select name="sort" id="sort">
                <option value=""></option>
                <option value="relevance">relevance</option>
                <option value="date">date</option>
                <option value="champion">champion</option>
            </select>
            <select class='championselect'>
                <option value=""></option>
                <option value="">Aatrox</option>
                <option value="">Ahri</option>
                <option value="">Akali</option>
                <option value="">Alistar</option>
                <option value="">Amumu</option>
                <option value="">Anivia</option>
                <option value="">Annie</option>
                <option value="">Ashe</option>
                <option value="">Aurelion Sol</option>
                <option value="">Azir</option>
                <option value="">Bard</option>
                <option value="">Blitzcrank</option>
                <option value="">Brand</option>
                <option value="">Braum</option>
                <option value="">Caitlyn</option>
                <option value="">Cassiopeia</option>
                <option value="">Gho'Gath</option>
                <option value="">Corki</option>
                <option value="">Darius</option>
                <option value="">Diana</option>
                <option value="">Dr.Mundo</option>
                <option value="">Draven</option>
                <option value="">Ekko</option>
                <option value="">Elise</option>
                <option value="">Evelynn</option>
                <option value="">Ezreal</option>
                <option value="">Fiddlesticks</option>
                <option value="">Fiora</option>
                <option value="">Fizz</option>
                <option value="">Galio</option>
                <option value="">Gangplank</option>
                <option value="">Garen</option>
                <option value="">Gnar</option>
                <option value="">Gragas</option>
                <option value="">Graves</option>
                <option value="">Hecarim</option>
                <option value="">Heimerdinger</option>
                <option value="">Illaoi</option>
                <option value="">Irelia</option>
                <option value="">Janna</option>
                <option value="">Jarvan IV</option>
                <option value="">Jax</option>
                <option value="">Jayce</option>
                <option value="">Jhin</option>
                <option value="">Kennen</option>
                <option value="">Kha'Zix</option>
                <option value="">Kindred</option>
                <option value="">Kog'Maw</option>
                <option value="">Leblanc</option>
                <option value="">Lee Sin</option>
                <option value="">Leona</option>
                <option value="">Lissandra</option>
                <option value="">Lucian</option>
                <option value="">Lulu</option>
                <option value="">Lux</option>
                <option value="">Malphite</option>
                <option value="">Malzahar</option>
                <option value="">Maokai</option>
                <option value="">Master Yi</option>
                <option value="">Miss Fortune</option>
                <option value="">Mordekaiser</option>
                <option value="">Morgana</option>
                <option value="">Nami</option>
                <option value="">Nasus</option>
                <option value="">Nautilus</option>
                <option value="">Nidalee</option>
                <option value="">Nocturne</option>
                <option value="">Nunu</option>
                <option value="">Olaf</option>
                <option value="">Orianna</option>
                <option value="">Pantheon</option>
                <option value="">Poppy</option>
                <option value="">Quinn</option>
                <option value="">Rammus</option>
                <option value="">Rek'Sai</option>
                <option value="">Renekton</option>
                <option value="">Rengar</option>
                <option value="">Riven</option>
                <option value="">Rumble</option>
                <option value="">Ryze</option>
                <option value="">Sejuani</option>
                <option value="">Shaco</option>
                <option value="">Shen</option>
                <option value="">Shynava</option>
                <option value="">Singed</option>
                <option value="">Sion</option>
                <option value="">Sivir</option>
                <option value="">Skarner</option>
                <option value="">Sona</option>
                <option value="">Soraka</option>
                <option value="">Swain</option>
                <option value="">Syndra</option>
                <option value="">Tahm Kench</option>
                <option value="">Taliyah</option>
                <option value="">Talon</option>
                <option value="">Taric</option>
                <option value="">Teemo</option>
                <option value="">Thresh</option>
                <option value="">Tristana</option>
                <option value="">Trudle</option>
                <option value="">Tyrndamere</option>
                <option value="">Twisted Fate</option>
                <option value="">Twitch</option>
                <option value="">Udyr</option>
                <option value="">Urgot</option>
                <option value="">Varus</option>
                <option value="">Vayne</option>
                <option value="">Veigar</option>
                <option value="">Vel'Koz</option>
                <option value="">Vi</option>
                <option value="">Viktor</option>
                <option value="">Vladimir</option>
                <option value="">Volibear</option>
                <option value="">Warwick</option>
                <option value="">Wukong</option>
                <option value="">Xerath</option>
                <option value="">Xin Zhao</option>
                <option value="">Yasuo</option>
                <option value="">Yorick</option>
                <option value="">Zac</option>
                <option value="">Zed</option>
                <option value="">Ziggs</option>
                <option value="">Zilean</option>
                <option value="">Zyra</option>
            </select>
            <input type="text" placeholder="champion" class="championselect">
        </div>
    </div>
    <script type="text/javascript">
    $('#sort').change(function(){
    var choice = $('#sort :selected').attr('value')
    if (choice==='champion'){
    $('.championselect').css('display','inline-block')
    }else if (choice !== 'champion') {
    $('.championselect').css('display','none')
    }
    })
    </script>
    <div class="border">
        <hr style="border-color:blue">
    </div>
    <div class="content-video">
        <ul class="videos">
            {%for post in posts%}
        <li class="video-item">
            <div class="main-content">
                <a href="{{url_for('post.get_video',id=post.id)}}">
                    <video preload="none" loop muted poster="{{post.body}}" class="video" style='height:120px'>
                        <source src="video\Untitled1.mp4" type="video/mp4">
                    </video>
                </a>
            </div>
            <div class="content-info">
                <a href="{{url_for('post.get_video',id=post.id)}}" class="title">{{post.title}}</a>
                <div class="info">
                    <a href="{{url_for('admin.outside_page',username=post.author.username) if post.author.username != current_user.username else url_for('admin.user_page',username=current_user.username)}}"><span>{{post.author.nickname}}</span></a>
                    <div class="show">
                        <span><b>2</b>views</span>
                        <span>|</span>
                        <span><b>2</b>likes</span>
                    </div>
                </div>
            </div>
        </li>
        {%endfor%}
            <div class="clear"></div>
        </ul>
    </div>
{% endblock %}
{% block pagination %}
    <div class="pagination">
        {{macros.pagination_widget(pagination,'post.get_lol_subpage')}}
    </div>
{% endblock %}